body {
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(56, 58, 82);
    text-align: center;
}

.container {
    position: relative;
    display: inline-block;
    border: 5px solid rgb(32, 35, 48);
    border-top-width: 0;
    border-bottom-width: 0;
    white-space: nowrap;
    max-width: 1200px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.by-line {
    color: rgb(32, 35, 48);
    background-color: rgb(188, 188, 196);
    padding: 20px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 20px;
    box-shadow: inset 0 5px rgb(32, 35, 48), inset 0 -5px rgb(32, 35, 48);
    margin-bottom: 0;
}

.context {
    color: rgb(32, 35, 48);
    background-color: rgb(188, 188, 196);
    padding: 20px;
    font-family: Trebuchet MS;
    font-size: 15px;
    box-shadow: inset 0 5px rgb(32, 35, 48), inset 0 -5px rgb(32, 35, 48); 
    font-weight: bold;
}

.banner {
    background-color: rgb(32, 35, 48);
    margin: 0;
}

.banner * {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
}

.banner h1 {
    font-size: 45px;
}

.banner h2 {
    font-weight: 300;
    font-size: 30px;
    font-style: italic;
    padding-bottom: 10px;
}

.paragraph {
    background-color: white;
}

p {
    overflow-wrap: break-word;
    white-space: pre-wrap;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0;
    padding-bottom: 20px;
    color: rgb(32, 35, 48);
    font-family: Trebuchet MS;
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
}

p a {
    color: rgb(32, 35, 48);
}

h3 {
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 30px;
    font-family: 'Oswald', sans-serif;
    color: rgb(56, 58, 82);
    font-size: 32px;
    margin: 0;
}

footer * {
    color: white;
}

footer ol {
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    font-size: 20px;
    margin: 0;
    padding-bottom: 30px;
}

footer ol * {
    max-width: 1102px;
    white-space: pre-line;
}

footer {
    background-color: rgb(32, 35, 48);
    text-align: left;
}

#resources ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
}

h5 a {
    font-size: 20px;
    margin: 0;
    color: rgb(56, 58, 82);
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    position: relative;
    text-decoration: underline;
    text-decoration-color: rgb(56, 58, 82);
    display: inline-block;
    padding: 0;
}

h5 {
    margin: 0;
    padding-bottom: 5px;
}

span {
    font-size: 16px;
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(32, 35, 48);
    white-space: pre-wrap;
    margin-top: 4px;
}

.bert {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.paragraph img {
    max-width: 1100px;
}

#misinformation-sources img {
    max-width: 500px;
}